
<br>
<div id="ordernote" class="order-note-option _collapsible ordernote note last"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="order-note-option-title field choice" data-role="title">
        <span class="action action-toggle" role="heading" aria-level="2">
            <!-- ko i18n: 'Order Note:'--><!-- /ko -->
        </span>
    </div>
    <br>
    <div class="order-note-option-content" data-role="content">
        <form class="form form-discount order-note-form">
            <div class="order-note-option-inner">
                <div class="field">
                    <div class="control">
                        <textarea class="input-text order-note" name="note-code" id="noteCode" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>